.adbs{
    text-align: center;
    background-color: chocolate;
}

.edp{
    text-align: center;
    background-color: aquamarine;
}

.fl{
    text-align: center;
    background-color: crimson;
}

.pathfit{
    text-align: center;
    background-color: chartreuse;
}

.ida{
    text-align: center;
    background-color: dodgerblue;
}

.wst{
    text-align: center;
    background-color: blueviolet;
}

.ipt{
    text-align: center;
    background-color: pink;
}

.artapp{
    text-align: center;
    background-color: blue;
}

.net{
    text-align: center;
    background-color: beige;
}

.day{
    background-color: yellow;
}